@import url(variables.css);
@import url(reset.css);
@import url(fonts.css);

body {
  height: 100vh;
}

main {
  background-color: var(--gray-100);
  height: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
}

.page-logo {
  margin-bottom: 3.2rem;
  margin: auto;
}

.login-form-ctn {
  background: white;
  border-radius: 12px;
  margin-top: 3.2rem;
  min-width: 30rem;
  padding: 2.5rem;
}

h1 {
  color: var(--gray-800);
  font-size: var(--heading-text-regular);
  margin-bottom: 0.5rem;
}

.login-form-ctn p {
  color: var(--gray-600);
  font-size: var(--body-text-regular);
  margin-bottom: 2.5rem;
}

.login-form-ctn form {
  display: flex;
  flex-direction: column;
}

.login-form-ctn form label {
  color: var(--gray-800);
  margin-bottom: 0.25rem;
}

.login-form-ctn form input {
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding: 0.75rem 2.75rem;
}

.login-form-ctn form input:focus {
  border: 1px solid var(--primary-400);
  box-shadow: 0 0 2rem var(--primary-100);
  outline: none;
}

.login-form-ctn form input[name="email"] {
  background: url("../images/icon-email.svg") no-repeat;
  background-position: 1rem center;
}

.login-form-ctn form input[name*="Password"] {
  background: url("../images/icon-password.svg") no-repeat;
  background-position: 1rem center;
}

.login-form-ctn form button {
  background-color: var(--primary-400);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: var(--heading-text-small);
  font-weight: bold;
  padding: 0.75rem 1.75rem;
}

.login-form-ctn form .form-footer-text {
  margin-top: 1.5rem;
  text-align: center;
}
